.title {
  margin-top: 100px;
}

.cardBox {
  width: 500px;
  height: 400px;
  overflow: hidden;
  background: #ffffff;
  border-radius: 50px;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}
