.container {
  display: flex;
  gap: 20px;
  width: 1200px;
  padding: 50px 0;
  margin: 60px auto;
}

.card {
  width: 285px;

  .cardBox {
    width: 100%;
    height: 160px;
    overflow: hidden;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 10px 15px 0 rgb(0 0 0 / 20%);
    transition: all 0.3s;

    img {
      width: 100%;
      height: 100%;
    }

    &:hover {
      transition: all 0.3s;
      transform: scale(1.1);
    }
  }

  svg {
    width: 15px;
    height: 15px;
    padding-right: 5px;
  }

  h3 {
    padding: 0 0 0 5px;
    margin: 10px 0 2px;
    font-size: 14px;
    line-height: 15px;
    color: #333333;
  }

  p {
    margin: 0;
  }

  .shared {
    display: flex;
    gap: 5px;
    justify-content: flex-start;
    padding: 0 0 0 5px;
    margin-top: 1px;
    opacity: 0.7;

    p {
      font-size: 15px;
    }
  }
}

.rowFlex {
  display: flex;
}

.center {
  display: flex;
  justify-content: center;
}

.spaceBetween {
  display: flex;
  gap: 5px;
  justify-content: flex-end;
}

.flexStart {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flexEnd {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
